.container{
  width: 100%;
  margin: 0;
  padding: 0;

}
.hero img{
  width: 100%;
 border-image:0 ;
}

aside.right,aside.left{
  text-align: center;
  float: inherit;
}

#con{
  text-align: justify;
}

.intro {
  background: white;
}
.meta{
  text-align: center;

}

h1{
  font-size: 2 rem;
}
 
